<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['main-page']">Computer Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['clients-list']">All clients</a></li>
      <li><a [routerLink]="['new-client']">New client</a></li>
      <li><a [routerLink]="['products-list']">All products</a></li>
      <li><a [routerLink]="['new-product']">New product</a></li>
      <li><a [routerLink]="['orders-list']">All orders</a></li>
      <li><a [routerLink]="['new-order']">New order</a></li>
    </ul>
  </div>
</nav>
